---
backbutton: false
layout: mobile_layout
---

<ul data-role="listview">
<%# TODO sort by date, group dates %>
<% sd = nil %>
<% events.each do |event| %>
  <% if sd != DateTime.parse(event.start).strftime('%F') %>
  <li class="group"><%= DateTime.parse(event.start).strftime('%b %d, %Y')%></li>
  <% sd = DateTime.parse(event.start).strftime('%F') %>
  <% end %>
  <li><a href="<%= mobile_root %>/event/<%= event.id %>/"><%= event.title %></a></li>
<% end %>
</ul>
