---
layout: mobile_layout
---
<ul data-role="listview">
  <li><a href="<%= mobile_root %>/events">Events</a></li>
  <li><a href="<%= mobile_root %>/activities">Activities</a></li>
  <li><a href="<%= mobile_root %>/locations">Places</a></li>
  <li><a href="<%= mobile_root %>/about">About</a></li>
</ul>
