%div{:data => {:role => "footer", :position => "fixed"}}
  %div{:data => {:role => "navbar"}}
    %ul
      %li 
        %a{:href => "/events", :data => {:transition => "fade", :icon => "grid", :iconpos => "top"}} Events
      %li
        %a{:href => "/activities", :data => {:transition => "fade", :icon => "star", :iconpos => "top"}} Activities
      %li
        %a{:href => "/locations", :data => {:transition => "fade", :icon => "home", :iconpos => "top"}} Locations
