<header>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Calgary Hub</a>
    <ul class="nav">
      <li><a href="/events/">Upcoming Events</a></li>
      <li><a href="/activities/">Activities</a></li>
      <li><a href="/locations/">Places</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
  </div>
</div>
</header>
