<div data-role="footer" data-position="fixed">
	<div data-role="navbar">
		<ul>
			<li><a href="<%= mobile_root %>/events" data-transition="fade" data-icon="grid" data-iconpos="top" >Events</a></li>
			<li><a href="<%= mobile_root %>/activities" data-transition="fade" data-icon="star" data-iconpos="top" >Activities</a></li>
			<li><a href="<%= mobile_root %>/locations" data-transition="fade" data-icon="home" data-iconpos="top">Locations</a></li>
		</ul>
	</div><!-- /navbar -->
</div><!-- /footer -->
