%ul{ :data => { :role => 'listview' }}
  %li
    %a{:href => "/events", :title => 'Events'} Events
  %li
    %a{:href => "/activities", :title => 'Activities'} Activities
  %li
    %a{:href => "/locations", :title => 'Locations'} Places
  %li
    %a{:href => "/about", :title => 'About'} About
