---
title: Calgary Hub
---

<% content_for :header do %>
<div class="hero-unit">
<h1>Calgary Hub</h1>
<h3>Do something awesome in YYC <i>today</i>.</h3>
</div><!-- .hero-unit -->
<% end %>

<% content_for :alert_bar do %>
Try our mobile-formatted site as well - visit <a href="http://mobile.calgaryhub.com">http://mobile.calgaryhub.com</a> on your device
<% end %>

<div class="row">
  <div class="span4">
    <h3>What's happening?</h3>
    There's always a ton of stuff going on, so find out what's happening today!<br>
    <a class="btn btn-large" href="/events/">Events</a>
  </div>
  <div class="span4">
    <h3>What can I do?</h3>
    Hey, sometimes you just want to explore the city at your own pace. Here's some ideas!<br>
    <a class="btn btn-large" href="/activities/">Activities</a>
  </div>
  <div class="span4">
    <h3>What's around?</h3>
    There's a ton of cool places to visit in Calgary. Find out where they are!</br>
    <a class="btn btn-large" href="/locations/">Places</a>
  </div>
</div>
